# Terraform
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.tfvars
*.terraform/
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
*.log

# OS / Misc
.DS_Store
Thumbs.db
